{#如果只有一个Master则说明是单Master架构#}
{% if groups['master'] | length == 1 %}
    {% set apiserver = groups['master'][0] + ':' + '6443' %}
{% elif groups['master'] | length > 1 %}
    {% set apiserver = vip + ':' +  '16443' %}
{% endif %}

apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ k8s_work_dir }}/ssl/ca.pem
    server: https://{{ apiserver }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet-bootstrap
  name: bootstrap
current-context: bootstrap
kind: Config
preferences: {}
users:
- name: kubelet-bootstrap
  user:
    token: 519d65eb0660ac47dc6b401d03008b24
